/* Smooth scrolling for in-page anchors */
html {
  scroll-behavior: smooth;
}

/* Ẩn nút clear mặc định trên Chrome/Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
